$navbar-bg-color: hsl(0, 0%, 15%);
$navbar-text-color: hsl(0, 0%, 85%);
$navbar-text-color-focus: white;
$navbar-bg-contrast: hsl(0, 0%, 25%);
$navbar-height: 64px;

$main-font: 'Quicksand', sans-serif;